.page {
    
    &.embed-page > .viewport {

        height: calc(100vh - 102px);
        width: calc(100vw - 16px);
        padding: 8px;
        padding-bottom: 0;
        background: transparent;
        position: absolute;
        top: 0px;
        left: 0;
        overflow: auto;

        .error {
            background: #ffe9e9;
            color: #d55b5b;
            width: max-content;
            padding: 12px;
            margin: 20px;
            font-size: 13px;
            font-weight: 500;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}