.page {

    &.my-dashboard-page > .viewport > .grid {

        >.embed > .top > .buttons {

            > .edit {
                background: blue;
            }

            > .delete {
                background: red;
            }
        }

        > .add {

            background: url('data-url:../assets/images/svg/add-report-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding-top: 100%;
            cursor: pointer;
            opacity: 0.5;
            transition: all 250ms;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}