.app-bar {

    position: fixed;
    z-index: 999;
    background: #003247;
    height: 50px;
    width: 100vw;
    box-shadow: inset 4px 8px 20px rgb(69 86 113 / 10%), 4px 8px 20px rgb(69 86 113 / 13%);
    transform: translateY(-80px);
    transition: all 500ms;
    opacity: 0;

    &[data-displayed="1"] {
        opacity: 1;
        transform: translateY(0);
    }

    //=================
    //DYNAMIC CONTAINER
    //=================
    
    .dynamic-button {
        position: absolute;
        top: 50%;
        width: 29px;
        height: 29px;
        background-color: #000;
        border-radius: 10px;
        cursor: pointer;
        background-size: 50%;
        background-position: 50%;
        background-repeat: no-repeat;
        padding: 2px;
        transition: all 350ms;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .dynamic-container {

        position: fixed;
        top: 50px;
        width: 100vw;
        height: fit-content;

        > .dynamic-background {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.65);
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: all 300ms;
        }

        > .dynamic-box {
            z-index: 10;
            width: max-content;
            background-color: #003247;
            box-shadow: 2px 10px 30px -3px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            transition: all .3s;
            position: absolute;
            top: 20px;
            opacity: 0;
            visibility: hidden;
        }
    }

    //====
    //MENU
    //====

    .menu-button.dynamic-button {

        left: 10px;
        transform: translateY(-50%) translateX(-150px);
        background-image: url('data-url:../assets/images/svg/menu.svg');

        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
        
        &:active {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    .dynamic-container > .menu.dynamic-box {

        max-height: calc(100vh - 120px);
        padding: 15px 0;
        left: 20px;
        overflow-y: auto;
        transform: translateX(-200px);
        
        .menu-link {    

            position: relative;
            color: #fff;
            font-weight: 500;
            font-size: 15px;
            padding: 12px 53px;
            padding-right: 90px;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            &:before {
                content: "";
                width: 20px;
                height: 20px;
                background-image: url('data-url:../assets/images/svg/file.svg');
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                transform: translateY(-50%);
                top: 48%;
                left: 22px;
                opacity: 0.4;
            }

            &:hover {
                background: rgba(0, 0, 0, 0.15);
            }
            
            &:active {
                background: rgba(0, 0, 0, 0.2);
            }
        }
        
        .sub-menu-head {

            position: relative;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            padding: 14px 35px;
            padding-right: 90px;
            cursor: pointer;
            user-select: none;
            background: rgba(0, 0, 0, 0.27);
            transition: all 0.25s;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            
            &:before {
                content: "";
                height: 12px;
                width: 12px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('data-url:../assets/images/svg/chevron.svg');
                background-size: 100%;
                background-position: 50%;
                background-repeat: none;
                opacity: 0.5;
                transition: all 0.3s;
            }

            &:hover {
                background: rgba(0, 0, 0, 0.4);
            }

            &[data-displayed="1"] {
                background: rgba(0, 0, 0, 1) !important;
            }

            &[data-displayed="2"] {

                margin-top: 10px;
                background: rgba(0, 0, 0, 1) !important;

                &:before {
                    transform: translateY(-50%) rotate(90deg);
                    opacity: 1;
                }
            }
        }

        .sub-menu {

            transform: translateY(-30px);
            background: rgba(0, 0, 0, 0.45);
            opacity: 0;
            display: none;
            transition: all 0.3s;
            
            > .menu-link {

                padding-left: 76px;

                &:before {
                    left: 45px;
                }

                &:last-child {
                    margin-bottom: 10px;
                }
            }

            &[data-displayed="1"] {
                display: block;
            }
    
            &[data-displayed="2"] {
                transform: translateY(0);
                opacity: 1;
                display: block;
            }
        }

        .admin-links {

            > .menu-link {

                background: rgba(255, 255, 255, 0.1);

                &:before {
                    content: "";
                    width: 24px;
                    height: 24px;
                    background-image: url('data-url:../assets/images/svg/setting.svg');
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 20px;
                    opacity: 0.4;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.15) !important;
                }

                &:active {
                    background: rgba(255, 255, 255, 0.2) !important;
                }
            }
        }
    }

    &[data-navigation-available="1"] .menu-button {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(-50%) translateX(0);
    }

    &[data-menu-displayed="1"] .menu-button {
        opacity: 0.5;
    }
    
    &[data-menu-displayed="1"] .dynamic-container > .dynamic-background {
        opacity: 1;
        visibility: visible;
    }

    &[data-menu-displayed="1"] .dynamic-container > .menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    //=====
    //TITLE
    //=====

    .title {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%) translateX(-300px);
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        opacity: 0;
        transition: all 500ms;
    }
    
    &[data-displayed="1"] .title {
        transform: translateY(-50%);
        opacity: 1;
    }
    
    &[data-navigation-available="1"] .title {
        transform: translateY(-50%) translateX(40px);
    }

    //====
    //LOGO
    //====

    .logo {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%) translateX(300px);
        width: 64px;
        height: 50px;
        background-image: url('data-url:../assets/images/svg/esa.svg');
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0;
        transition: all 500ms;
    }
    
    &[data-displayed="1"] .logo {
        transform: translateY(-50%);
        opacity: 1;
    }

    //=============
    //SYSTEM HEALTH
    //=============

    .system-health-button.dynamic-button {

        right: 154px;
        transform: translateY(-50%) translateX(300px);
        background-image: url('data-url:../assets/images/svg/network.svg');

        &:before {
            content: "";
            position: absolute;
            top: -2px;
            right: -3px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: orange;
        }

        &[data-score="2"]:before {
            background: greenyellow;
        }
    }

    .dynamic-container > .system-health.dynamic-box {

        right: 20px;
        overflow-y: auto;
        transform: translateX(200px);
        padding: 20px 28px;

        .line {

            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            * {
                display: inline-block;
                vertical-align: middle;
            }
    
            .icon {
                
                width: 20px;
                height: 20px;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: 100%;
                opacity: 0.4;
                margin-right: 11px;

                &.speed { 
                    background-image: url('data-url:../assets/images/svg/speed.svg');
                }

                &.database {
                    background-image: url('data-url:../assets/images/svg/database.svg');
                }
            }

            .label {
                padding-right: 12px;
                font-weight: 500;
                color: #fff;
                font-size: 14px;
            }

            .value {
            
                background: orange;
                font-size: 14px;
                padding: 3px 6px;
                border-radius: 4px;
                font-weight: 500;
                
                &[data-score="2"] {
                    background: greenyellow;
                }
            }
        }
    }

    &[data-navigation-available="1"] .system-health-button {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(-50%) translateX(0);
    }

    &[data-system-health-displayed="1"] .system-health-button {
        opacity: 0.5;
    }
    
    &[data-system-health-displayed="1"] .dynamic-container > .dynamic-background {
        opacity: 1;
        visibility: visible;
    }

    &[data-system-health-displayed="1"] .dynamic-container > .system-health {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    //====
    //USER
    //====

    .user-button.dynamic-button {

        right: 100px;
        background-image: url('data-url:../assets/images/svg/avatar.svg');
        transform: translateY(-50%) translateX(300px);
    }

    .dynamic-container > .user.dynamic-box  {

        right: 20px;
        overflow-y: auto;
        transform: translateX(200px);
        padding: 20px 28px;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        .username {

            cursor: pointer;
            color: #fff;
            background: #0003;
            border-radius: 10px;
            margin-right: 14px;
            padding: 10px 14px;
            padding-left: 41px;
            font-weight: 500;
            transition: all .5s;

            &:hover {
                background: rgba(0, 0, 0, 0.4);
            }

            &:active {
                background: rgba(0, 0, 0, 0.6);
            }

            &:before {
                content: "";
                width: 20px;
                height: 20px;
                background-image: url('data-url:../assets/images/svg/file.svg');
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: 39px;
                opacity: 0.4;
            }
        }
    }

    &[data-navigation-available="1"] .user-button {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(-50%) translateX(0);
    }

    &[data-user-displayed="1"] .user-button {
        opacity: 0.5;
    }
    
    &[data-user-displayed="1"] .dynamic-container > .dynamic-background {
        opacity: 1;
        visibility: visible;
    }

    &[data-user-displayed="1"] .dynamic-container > .user {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    //==================
    //PWA INSTALL BUTTON
    //==================

    .pwa-install-button.dynamic-button {
        right: 208px;
        transform: translateY(-50%) translateX(300px);
        background-image: url('data-url:../assets/images/svg/install.svg');
    }

    &[data-pwa-features="0"] .pwa-install-button {
        display: none;
    }

    &[data-navigation-available="1"][data-pwa-installed="0"] .pwa-install-button {
        visibility: visible;
        pointer-events: all;
        transform: translateY(-50%) translateX(0);
        opacity: 1;
    }

    &[data-pwa-installed="1"] .pwa-install-button {
        visibility: visible;
        pointer-events: all;
        transform: translateY(-50%) translateX(0);
        opacity: 0.5;
        background-image: url('data-url:../assets/images/svg/checked-green.svg');
        pointer-events: none;
    }
}