.split {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    //================
    //HORIZONTAL SPLIT
    //================

    &.horizontal {

        .left-zone,
        .right-zone {

            position: absolute;
            height: 100%;
            width: 50%;
        }

        .left-zone {

            left: 0;
            background: #e8e8e4;

            .left-container {

                position: absolute;
                width: calc(100% - 4px);
                height: 100%;
                left: 0px;
                top: 0px;
                overflow: auto;
                background: white;
                border-radius: 7px;
            }

            > .resizer {

                position: absolute;
                right: -3px;
                top: 0;
                height: 100%;
                width: 6px;
                background: transparent;
                z-index: 9999999;
                cursor: ew-resize;
                opacity: 0;
                transition: all 250ms;
                transition-delay: 150ms;
                border-radius: 10px;

                &:before {

                    content: "";
                    position: absolute;
                    top: 0;
                    left: -6px;
                    right: -6px;
                    bottom: 0;
                    background: transparent;
                    visibility: hidden;
                }

                &:hover {

                    opacity: 1;

                    &:before {

                        visibility: visible;
                    }
                }

                &[data-resizing="1"] {
                    
                    opacity: 1 !important;
                }
            }
        }

        .right-zone {
            
            right: 0;
            background: #e8e8e4;

            .right-container {

                border-radius: 7px;
                position: absolute;
                width: calc(100% - 4px);
                height: 100%;
                left: 4px;
                top: 0px;
                overflow: auto;
                background: white;
            }
        }
    }

    //==============
    //VERTICAL SPLIT
    //==============

    &.vertical {

        .top-zone,
        .bottom-zone {

            position: absolute;
            height: 50%;
            width: 100%;
        }

        .top-zone {

            top: 0;
            background: #e8e8e4;

            .top-container {

                border-radius: 7px;
                position: absolute;
                width: 100%;
                height: calc(100% - 4px);
                top: 0px;
                left: 0px;
                overflow: auto;
                background: white;
            }

            > .resizer {

                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 6px;
                background: transparent;
                z-index: 9999999;
                cursor: ns-resize;
                opacity: 0;
                transition: all 250ms;
                transition-delay: 150ms;
                border-radius: 10px;
                
                &:before {

                    content: "";
                    position: absolute;
                    left: 0;
                    top: -6px;
                    bottom: -6px;
                    right: 0;
                    background: transparent;
                    visibility: hidden;
                }

                &:hover {

                    opacity: 1;

                    &:before {

                        visibility: visible;
                    }
                }

                &[data-resizing="1"] {

                    opacity: 1 !important;
                }
            }
        }

        .bottom-zone {

            bottom: 0;
            background: #e8e8e4;

            .bottom-container {

                border-radius: 7px;
                position: absolute;
                width: 100%;
                height: calc(100% - 4px);
                top: 4px;
                left: 0px;
                overflow: auto;
                background: white;
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
}