.tabs-view {

    //========
    //TABS BAR
    //========

    > .tabs {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background: #8197a6;
        white-space: nowrap;
        height: 36px;
        box-shadow: inset 4px 8px 20px rgb(69 86 113 / 10%), 4px 8px 20px rgb(69 86 113 / 8%);

        &::-webkit-scrollbar {

            display: none;
        }

        > .tab {

            position: relative;
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            width: max-content;
            cursor: pointer;
            color: #fff;
            height: 100%;
            line-height: 34px;
            padding: 0 17px;
            border-right: 1px solid rgba(0, 0, 0, 0.3);
            background: #335e6f;

            &:before {

                content: "";
                position: absolute;
                bottom: 0;
                height: 5px;
                background: transparent;
                left: 0;
                right: 0;
            }

            &[data-selected="1"]:before {

                background: rgba(0, 0, 0, 0.5);
            }

            &[data-selected="1"] {

                color: #fff;
                background: #003247;
            }
        }
    }

    //====
    //VIEW
    //====

    > .view {

        position: absolute;
        top: 36px;
        bottom: 0;
        width: 100%;
        overflow: auto;
    }
}